{% extends 'auth/auth-base.html' %}
{% load static %}
{% block title %} Login {% endblock %}


{% block body %}
<div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-label" for="email_2">Username:</label>
                    <div class="input-group input-group-merge">
                        <input id="email_2" type="text" name="username" required class="form-control form-control-prepended" placeholder="Enter your Username">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-label" for="password_2">Password:</label>
                    <div class="input-group input-group-merge">
                        <input id="password_2" type="password" name="password" required class="form-control form-control-prepended" placeholder="Enter your password">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-key"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <button class="btn btn-block btn-primary" type="submit">Login</button>
                </div>
                <div class="form-group text-center">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked="" id="remember">
                        <label class="custom-control-label" for="remember">Remember me for 30 days</label>
                    </div>
                </div>
                <div class="form-group text-center mb-0">
                    <a href="">Forgot password?</a> <br>
                    Don't have an account? <a class="text-underline" href="{% url 'register' %}">Sign up</a>
                </div>
            </form>
        </div>
{% endblock body %}
