<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'favicon.ico' %}" rel="icon">
    <title>{% block title %} {% endblock %} | NPK-Knots</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="{% static 'assets/vendor/perfect-scrollbar.css' %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">

    <!-- ion Range Slider -->
    <link type="text/css" href="{% static 'assets/css/vendor-ion-rangeslider.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-ion-rangeslider.rtl.css' %}" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    {% block style %}
    {% endblock %}
</head>
<body class="layout-fixed layout-sticky-subnav">
    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header bg-dark js-mdk-header m-0" data-fixed data-effects="waterfall">
            <div class="mdk-header__content">

                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-primary pl-md-0 pr-0" id="navbar" data-primary>
                    <div class="container">

                        <!-- Navbar toggler -->
                        <button class="navbar-toggler navbar-toggler-custom d-lg-none d-flex mr-navbar" type="button" data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>


                        <div class="d-flex sidebar-account flex-shrink-0 mr-auto mr-lg-0">
                            <a href="{% url 'index' %}" class="flex d-flex align-items-center text-underline-0">
                                <span class="mr-1  text-white">
                                    <!-- LOGO -->
                                </span>
                                <span class="flex d-flex flex-column text-white">
                                    <strong class="sidebar-brand">NPK-Knots</strong>
                                </span>
                            </a>
                        </div>

                        <ul class="ml-auto nav navbar-nav mr-2 d-none d-lg-flex">
                            <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
                        </ul>

                        <form class="search-form search-form--light d-none d-sm-flex flex ml-3" action="{% url 'search' %}" method="get">
                            <input name="q" type="text" class="form-control" placeholder="Search">
                            <button class="btn" type="submit"><i class="material-icons">search</i></button>
                        </form>
                        <ul class="nav navbar-nav d-none d-md-flex">
                            <li class="nav-item dropdown">
                            </li>
                        </ul>

                        <ul class="ml-2 nav navbar-nav mr-2 d-none d-lg-flex">
                            <button type="button" class="btn btn-info btn-rounded">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </ul>
                        {% if request.user.is_authenticated %}
                        <div class="dropdown">
                            <a href="#account_menu" class="dropdown-toggle navbar-toggler navbar-toggler-dashboard border-left d-flex align-items-center ml-navbar" data-toggle="dropdown">
                                <img src="{% static 'profile.png' %}" class="rounded-circle" width="32" alt="Frontted">
                                <span class="ml-1 d-flex-inline">
                                    <span class="text-light">{{request.user.username}}</span>
                                </span>
                            </a>
                            <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-company-menu">
                                <div class="dropdown-item d-flex align-items-center py-2 navbar-company-info py-3">

                                    <span class="mr-3">
                                        <img src="{% static 'profile.png' %}" width="43" height="43" alt="avatar">
                                    </span>
                                    <span class="flex d-flex flex-column">
                                        <strong class="h5 m-0">{{request.user.username}}</strong>
                                        <small class="text-muted text-uppercase">STUDENT</small>
                                    </span>

                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                    <span class="material-icons mr-2">account_circle</span> Edit Account
                                </a>
                                <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                    <span class="material-icons mr-2">settings</span> Settings
                                </a>
                                <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'logout' %}">
                                    <span class="material-icons mr-2">exit_to_app</span> Logout
                                </a>
                            </div>
                        </div>

                        {% else %}
                        <div class="dropdown">
                            <a href="#account_menu" class="dropdown-toggle navbar-toggler navbar-toggler-dashboard border-left d-flex align-items-center ml-navbar" data-toggle="dropdown">
                                <span class="ml-1 d-flex-inline">
                                    <span class="text-light">Sign in</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-company-menu">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'register' %}">
                                    <span class="material-icons mr-2">account_circle</span> Sign Up
                                </a>
                                <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'login' %}">
                                    <span class="mr-2"><i class="fas fa-sign-in-alt"></i></span> Sign in
                                </a>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page">
            <div class="page__header  page__header-nav mb-0">
                <div class="container page__container">
                    <div class="navbar navbar-secondary navbar-light navbar-expand-sm p-0 d-none d-md-flex" id="secondaryNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item active">Deck Courses</a>
                                    <a href="#" class="dropdown-item">Engine Courses</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="home-banner text-white mb-4">
                <div class="container page__container">
                    <h1 class="display-4 bold" data-aos="fade-up" data-aos-duration="800">Everything you need to LEARN</h1>
                    <p class="lead mb-5" data-aos="fade-up" data-aos-duration="1000">Get your first Maritime Course</p>
                    <div data-aos="fade-down" data-aos-duration="400" data-aos-delay="400" data-offset="-100">
                        <form class="search-form search-form--light p-2" action="{% url 'search' %}" method="get">
                            <input name="q" type="text" class="form-control" placeholder="Search">
                            <button class="btn" type="submit"><i class="material-icons">search</i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container page__container">
            <!-- ======= Section ======= -->
                {% block body %}

                {% endblock %}
            <!-- End Section -->

            <div class="bg-soft-primary card-body mb-4">
                <div class="row p-4">
                    <div class="col-md-6 offset-md-3">
                        <div class="mb-4">

                            <h4 class="text-center text-primary bold mb-1">Sign up and get new Course Update</h4>
                            <p class="text-center text-muted">No spam. Only releases, updates and discounts</p>
                        </div>
                        <div class="d-flex">

                            <input type="text" class="form-control" placeholder="Your email address">
                            <a href="#" class="btn btn-secondary ml-2" data-aos="flip-left" data-aos-duration="800" data-aos-delay="150">SUBSCRIBE</a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            <div class="bg-dark text-white" id="footer">
                <div class="container page__container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="" class="brand d-flex align-items-center mb-4">
                                <span class="mr-2">
                                    <!-- LOGO -->
                                    
                                </span>
                                NPK-Knots
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                </div>
                                <div class="col-sm-6 col-md-3">
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <h5>Account</h5>
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="">
                                            <a href="#">Login</a>
                                        </li>
                                        <li class="">
                                            <a href="#">Sign up</a>
                                        </li>
                                        <li class="">
                                            <a href="#">Courses</a>
                                        </li>
                                        <li class="">
                                            <a href="#">About Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <h5>Contact us</h5>
                                    <p class="text-light">Street Name, Suite 12<br /> Dublin, Ireland</p>

                                    <div class="d-flex ">

                                        <a href="" class="btn btn-facebook btn-rounded-social d-flex align-items-center justify-content-center mr-2"><i class="fab fa-facebook"></i></a>
                                        <a href="" class="btn btn-twitter btn-rounded-social d-flex align-items-center justify-content-center mr-2"><i class="fab fa-twitter"></i></a>
                                        <a href="" class="btn btn-secondary btn-rounded-social d-flex align-items-center justify-content-center mr-2"><i class="fab fa-instagram"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- // END Header Layout Content -->

    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static 'assets/vendor/perfect-scrollbar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>

    <!-- Range Slider -->
    <script src="{% static 'assets/vendor/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/js/ion-rangeslider.js' %}"></script>

    <!-- App -->
    <script src="{% static 'assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'assets/js/dropdown.js' %}"></script>
    <script src="{% static 'assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>