{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block style %}
{% endblock %}
{% block body %}


                <h2 class="bold m-4 text-center p-4">Recent Courses</h2>
                <div class="row">
                    {% for course in portfolio %}
                    <div class="col-md-3">
                        <div class="card card__course" data-aos="fade-up" data-offset="-100">
                            <div class="card-header card-header-large card-header-dark bg-dark d-flex justify-content-center">
                                <a class="card-header__title  justify-content-center align-self-center d-flex flex-column" href="#">
                                    <span><img src="{{ course.image.url }}" class="mb-1" style="width:200px;" alt="{{ course.title }}"></span>
                                    <span class="course__title">{{course.title}}</span>
                                    <span class="course__subtitle">{{course.subtitle | truncatechars:15}}</span>
                                </a>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center">
                                    <strong class="h4 m-0">{{course.price}} Rs.</strong>
                                    <a href="{% url 'add_to_cart' course.slug %}" class="btn btn-primary ml-auto"><i class="material-icons">add_shopping_cart</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <h3 class="bold p4">No Courses available</h3>
                    {% endfor %}
                </div>
                <div class="m-4 p-4">
                    <h2 class="bold mb-1 text-center">Features &amp; Highlights</h2>
                    <p class="lead text-muted text-center">What makes NPK-Knots an awesome</p>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 d-flex align-items-center  flex-row-reverse" data-aos-duration="500" data-aos="fade-right">
                        <div class="avatar avatar-xl ml-3">
                            <span class="bg-primary border avatar-title rounded-circle text-center text-white">
                                <i class="fab fa-connectdevelop"></i>
                            </span>
                        </div>
                        <div class="text-right">
                            <strong>Accessibility</strong>
                            <p class="m-0">You can it access from anywhere</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" data-aos-duration="500" data-aos="fade-left">
                        <div class="avatar avatar-xl mr-3">
                            <span class="bg-primary border avatar-title rounded-circle text-center text-white">
                                <i class="fas fa-user-graduate"></i>
                            </span>
                        </div>
                        <div>
                            <strong>Instructors</strong>
                            <p class="m-0">Learn from top-class Instructors</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 d-flex align-items-center  flex-row-reverse" data-aos-duration="500" data-aos="fade-right">
                        <div class="avatar avatar-xl ml-3">
                            <span class="bg-primary border avatar-title rounded-circle text-center text-white">
                                <i class="fas fa-book-open"></i>
                            </span>
                        </div>
                        <div class="text-right">
                            <strong>Courses</strong>
                            <p class="m-0">Selected range of Course</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center" data-aos-duration="500" data-aos="fade-left">
                        <div class="avatar avatar-xl mr-3">
                            <span class="bg-primary border avatar-title rounded-circle text-center text-white">
                                <i class="fas fa-users-cog"></i>
                            </span>
                        </div>
                        <div>
                            <strong>Unique Dashboards</strong>
                            <p class="m-0">Student/Instructor dashboards</p>
                        </div>
                    </div>
                </div>

                <div class="text-center m-4 pb-5" data-aos-duration="1000" data-aos="fade-up">
                    <a href="#" class="btn btn-light btn-lg">View All</a>
                </div>

{% endblock body %}
